DJANGO_SECRET_KEY=votre-clef-secrete-django-aleatoire-tres-longue-minimum-50-caracteres
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=77.237.241.223,localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=mavecam_api.settings.production


POSTGRES_DB=aquacare_db
POSTGRES_USER=aquacare_user
POSTGRES_PASSWORD=Mesongles3565
POSTGRES_HOST=db
POSTGRES_PORT=5432


JWT_SECRET_KEY=autre-clef-secrete-jwt-differente-de-django-secret


# Superuser créé automatiquement au démarrage (configurable)
DJANGO_SUPERUSER_PHONE=+237652000000
DJANGO_SUPERUSER_PASSWORD=ChangeMe123!
DJANGO_SUPERUSER_FIRST_NAME=Admin
DJANGO_SUPERUSER_LAST_NAME=MAVECAM


COMPOSE_PROJECT_NAME=aquacare
